/*Reset*/
a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0rem;
    font-size: inherit;
    cursor: pointer;
}

:root {
    --cor-texto-principal: #ffffff;
    --fonte-textos: 'Open Sans', sans-serif;
    --azul-neon: #2BDEFD;
    --azul-fundo: #01080E;
    --cinza-claro: #999;
    --cinza-escuro: #666;
    --cinza: rgba(196, 196, 196, 0.2);
    --gradiente: linear-gradient(53deg, #072041 0%, #041833 50%, #154580 100%);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--cor-texto-principal);
    background: var(--gradiente);
    font-family: var(--fonte-textos);
}

main {
    margin-bottom: 3.43rem;
}

.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}





